{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css2/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css2/loader.css' %}">
    <link rel="icon" type="image/x-icon" href="">
    <title>Agregar productos</title>
</head>

<body style="background: #252525;">

    <header class="header">
        <h2 class="logo text-black" type="button" onclick="redireccionHome()">Galaxy Music</h2>
        <nav class=" navigation">
            <button class="btnLogin-popup" type="button" onclick="redireccionPerfil()">Perfil<i
                    class="fa-solid fa-user"></i></button>
            <button class="btnLogin-popup" type="button" onclick="redireccionLogin()">Login<i
                    class="fa-solid fa-user"></i></button>
        </nav>
    </header>

    <!-- <div style="text-align: center;">
        {% if producto %}
            <h2>Formulario Actualizar Productos</h2>
            <form action="{% url 'ProductosMod' producto.id_producto %}" method="POST">
                {% csrf_token %}
                <pre>Id producto:  <input type="text" name="id_producto" value="{{producto.id_producto}}" readonly></pre>
                <pre>Nombre:     <input type="text" name="nombre_producto" value="{{producto.nombre_producto}}"></pre>
                <pre>Descripción:   <input type="text" name="descripcion_producto" value="{{producto.descripcion_producto}}"></pre>
                <pre>Cantidad:      <input type="text" name="cantidad_producto" value="{{producto.stock_producto}}"></pre>
                <pre>Precio: <input type="text" name="precio_producto" value="{{producto.precio_producto}}"></pre>
                <input type="submit" name="opcion" id="Actualizar" value="Actualizar">
            </form><br><br>
        {% endif %} 

        <a href="{% url 'ProductosList' %}">Volver</a>

        <br>
        <div id="idMensajes">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>
    </div> -->

    <h1>Modificar Producto</h1>

    <!-- Pantalla de cargando -->
    <div class="loader-container">
        <img src="{% static 'imagenes/Cargando.gif' %}" alt="">
    </div>

    <!-- Redirecciones -->
    <script>
        function redireccionHome() {
            location.href = "{% url 'Home' %}"
        }

        function loader() {
            document.querySelector('.loader-container').classList.add('fade-out');
        }

        function fadeOut() {
            setInterval(loader, 3000);
        }

        window.onload = fadeOut;
    </script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>