{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css2/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css2/ElimProductos.css' %}">
    <link rel="stylesheet" href="{% static 'css2/loader.css' %}">
    <script src="https://kit.fontawesome.com/6a284d15f6.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'imagenes/guitarra-logo.png' %}">
    <title>Eliminar productos</title>
</head>

<body style="background: #868686;">

    <header class="header">
        <h2 class="logo text-black" type="button" onclick="redireccionHome()">Galaxy Music</h2>
        <nav class=" navigation">
            <button class="btn-popup-Volver" type="button" onclick="redireccionProductosList()">Volver a Listar<i
                    class="fa-solid fa-reply"></i></button>
            <button class="btnLogin-popup" type="button" onclick="redireccionLogin()">Login<i
                    class="fa-solid fa-user"></i></button>
        </nav>
    </header>


    <div class="contenedor-formulario">
        <h1 class="Agregar">Confirmar Eliminación del Producto</h1>

        <div class="id-producto">
            <pre>ID Producto</pre>
            <p>{{ producto.id }}</p>
        </div>

        <div class="info-producto">
            <div class="datos-productos">
                <div class="nombre">
                    <pre>Nombre Producto</pre>
                    <p>{{ producto.nombre_producto }}</p>
                </div>
                <div class="cantidad">
                    <pre>Cantidad Producto</pre>
                    <p>{{ producto.cantidad_producto }}</p>
                </div>
                <div class="precio">
                    <pre>Precio producto</pre>
                    <p><span id="precio">{{ producto.precio_producto }}</span></p>
                </div>
            </div>
            <div class="descripcion-producto">
                <pre>Descripción Producto</pre>
                <p>{{ producto.descripcion_producto }}</p>
            </div>
        </div>

        <form action="{% url 'ConfirmarElim' producto.id_producto %}" method="post">
            {% csrf_token %}
            <button class="boton-eliminar" type="submit">Confirmar Eliminación</button>
        </form>
    </div>

    <!-- Pantalla de cargando -->
    <div class="loader-container">
        <img src="{% static 'imagenes/Cargando.gif' %}" alt="">
    </div>

    <!-- Redirecciones -->
    <script>
        function redireccionHome() {
            location.href = "{% url 'Home' %}"
        }

        function redireccionProductosList() {
            location.href = "{% url 'ProductosList' %}"
        }

        function formatoPrecioChileno(precio) {
            return new Intl.NumberFormat('es-CL', { style: 'currency', currency: 'CLP' }).format(precio);
        }

        // Obtener el elemento del precio
        const precioElement = document.getElementById('precio');
        // Obtener el precio en texto
        const precioTexto = precioElement.textContent;
        // Convertir el precio en número
        const precioNumero = parseFloat(precioTexto);
        // Formatear el precio en el formato chileno
        const precioChileno = formatoPrecioChileno(precioNumero);
        // Actualizar el contenido del elemento con el precio formateado
        precioElement.textContent = precioChileno;

        function loader() {
            document.querySelector('.loader-container').classList.add('fade-out');
        }

        function fadeOut() {
            setInterval(loader, 3000);
        }

        window.onload = fadeOut;
    </script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>