// Servicio para gestionar categorías
const categories = [];

export const addCategory = (name) => {
    const category = { id: Date.now(), name };
    categories.push(category);
    return category;
};

export const getCategories = () => {
    return categories;
};

export const getCategory = (id) => {
    return categories.find(cat => cat.id === id);
};

export const updateCategory = (id, newName) => {
    const category = categories.find(cat => cat.id === id);
    if (category) {
        category.name = newName;
        return category;
    } else {
        throw new Error('Category not found');
    }
};

export const deleteCategory = (id) => {
    const index = categories.findIndex(cat => cat.id === id);
    if (index !== -1) {
        categories.splice(index, 1);
        return true;
    } else {
        throw new Error('Category not found');
    }
};
