.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.grid-item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #252525;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    cursor: pointer;
}

.grid-item h1 {
    text-align: center;
    user-select: none;
    color: #252525;
}

.grid-item img {
    margin: auto;
    align-items: center;
    width: 10rem;
    height: 10rem;
    user-select: none;
    border-radius: 0.2rem;
}
