@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('static /imagenes/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), 
    transparent);
    transition: .8s;
}

.header:hover::before {
    left: 100%;
}

/*Iconos del navbar*/

.logo {
    font-size:  1.8rem;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation,
.nav_items {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    transition: .5s;
}


.navigation .btnLogin-popup .fa-solid.fa-user{
    margin-left: 10px;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.grid-item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #fff;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    cursor: pointer;
}

.grid-item h1 {
    text-align: center;
    user-select: none;
    color: #fff;
}

.grid-item img {
    margin: auto;
    align-items: center;
    width: 10rem;
    height: 10rem;
    user-select: none;
    border-radius: 0.2rem;
}